# Raw data
data/raw/*
*.csv
*.xlsx
*.xls

# Processed datasets
data/processed/*
src/transformations/data/*
*.parquet

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/*
!.vscode/settings.json

# Logs
*.log

# Environment files
.env
.env.*
*.sqlite
